<div class="container">

<div class="row">
  <div class="row">
    {{#each tracks}}
    <div class="randomstuff card col-3" style="width: 18rem;">
      <form method="post" id="newSongData">
            <h6 class="text-white" id="id">{{this.id}}</h6>
        <img src={{this.albumArt}} class="card-img-top" alt="..." id="albumArt">
          <div class="card-body">
            <h4 class="card-title" id="songName">{{this.songName}}</h4>
            <h5 class="card-text" id="artistName">{{this.artistName}}</h5>
            <button type="button" onclick="" class="removeSongBtn bg-danger">Remove Song</button>
          </div>  
      </form>
    </div>
    {{/each}}

  </div>
</div>

<script src="/js/removeSong.js"></script>