<div class="container">
<div class="row">

{{#each tracks}}
<div class="card col-3 bg-dark" style="width: 18rem;">
  <img src={{this.image}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title bg-dark">{{this.songName}}</h5>
    <h6 class="card-text bg-dark">{{this.artistName}}</h6>
    <button type="button bg-success" onclick="">Add Song</button>
  </div>
</div>
{{/each}}
</div>
</div>